---
name: dbt CI/CD Pipeline

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

env:
  DBT_PROFILES_DIR: ~/.dbt
  DBT_PROJECT_DIR: .

jobs:
  dbt-code-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install dbt-core dbt-bigquery sqlfluff sqlfluff-templater-dbt pre-commit

      - name: Setup DBT Profile
        run: |
          mkdir -p ~/.dbt
                    cat > ~/.dbt/profiles.yml << EOF
                    bank_marketing_analysis:
                      target: prod
                      outputs:
                        prod:
                          type: bigquery
                          method: service-account
                          project: ${{ secrets.GCP_PROJECT_ID }}
                          dataset: ${{ secrets.DBT_DATASET }}
                          threads: 4
                          timeout_seconds: 300
                          location: US
                          priority: interactive
                    EOF

      - name: Setup CI SQLFluff config
        run: |
            cp .sqlfluff.ci .sqlfluff

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.0

      - name: SQL Lint
        run: |
            sqlfluff lint models/ --config .sqlfluff
